# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.swp
*.swo
*.bak

# Ansible Collection temp/build folders
dist/
.eggs/
parts/
sdist/
var/
wheels/
*.tar.gz 

# OS-specific junk
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python venv
venv/
.env/

# Linter / Tests
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
tests/output/
